{% include custom/sidebarconfigs.html %}

<amp-sidebar id="sidebar" layout="nodisplay" side="right">

  <amp-img class="amp-close-image"
    src="/images/ic_close_black_18dp_2x.png"
    width="20"
    height="20"
    alt="close sidebar"
    on="tap:sidebar.close"
    role="button"
    tabindex="0"></amp-img>

    <h3>Portworx Documentation</h3>
    <amp-accordion>
    {% for entry in sidebar %}
    {% for folder in entry.folders %}
    {% if folder.output contains "web" %}
        <section>
        <h4>{{ folder.title }}</h4>
        <ul class='drop'>
            {% for folderitem in folder.folderitems %}
            {% if folderitem.output contains "web" %}
            {% if folderitem.external_url %}
            <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
            {% elsif page.url == folderitem.url %}
            <li class="active"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
            {% else %}
            <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
            {% endif %}
            {% for subfolders in folderitem.subfolders %}
            {% if subfolders.output contains "web" %}
            <li class="subfolders">
                <a href="#">{{ subfolders.title }}</a>
                <ul>
                    {% for subfolderitem in subfolders.subfolderitems %}
                    {% if subfolderitem.output contains "web" %}
                    {% if subfolderitem.external_url %}
                    <li><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                    {% elsif page.url == subfolderitem.url %}
                    <li class="active"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                    {% else %}
                    <li><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </amp-accordion>
</amp-sidebar>
