{% assign navurl = page.url | remove: 'index.html' %}
<section>
    <h4>{{ item.title }}</h4>
    <ul id="mysidebar" class="nav drop">
    {% for item in item.folderitems %}
        <li {% if item.folderitems %}class="nopadd"{% endif %}>
            {% if item.folderitems %}
                <amp-accordion>
                    {% include amp-nav.html nav=item.folderitems child='true' %}
                </amp-accordion>
            {% else %}
                <a href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}" 
                    {% if item.url == navurl %}class="selected"{% endif %}>
                    {% if item.url == navurl %}
                        <b>{{ item.title }}</b>
                    {% else %}
                        {{ item.title }}
                    {% endif %}
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</section>