{% include custom/sidebarconfigs.html %}

<amp-sidebar id="sidebar" layout="nodisplay" side="right">

  <amp-img class="amp-close-image"
    src="/images/ic_close_black_18dp_2x.png"
    width="20"
    height="20"
    alt="close sidebar"
    on="tap:sidebar.close"
    role="button"
    tabindex="0"></amp-img>

    <h3>Portworx Documentation</h3>

    <form action="https://www.google.com/search" class="google-search" target="_top">
        <input name="sitesearch" type="hidden" value="docs.portworx.com">
        <input type="text" class="form-control" name="q" placeholder="Google Search">
    </form>

    <amp-accordion>
        {% for item in site.data.sidebars.home_sidebar %}
            {% include amp-nav.html nav=item %}
        {% endfor %}
    </amp-accordion>

</amp-sidebar>