@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Franklin'), local('LibreFranklin-Regular'), url(https://fonts.gstatic.com/s/librefranklin/v1/PFwjf3aDdAQPvNKUrT3U7zi6aZXXSmqDXSFqcYJu3PE.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

html,
body {
  height: 100%;
}

nav {
  display: block;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

img {
  border: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #ffffff;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  background-image: none;
}

a {
  color: #248EC2;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #bac9c2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

p {
  margin: 0 0 10px;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-md-3,
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

  .col-md-3,
  .col-md-9 {
    float: left;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.form-control:-moz-placeholder {
  color: #f9faf9;
}

.form-control::-moz-placeholder {
  color: #f9faf9;
}

.form-control:-ms-input-placeholder {
  color: #f9faf9;
}

.form-control::-webkit-input-placeholder {
  color: #f9faf9;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #4aadd6;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.form-group {
  margin-bottom: 15px;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.collapse {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #77777a;
  white-space: nowrap;
}

.dropdown-menu>.active>a {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #679DCE;
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}

.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
  }
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .form-control {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777777;
}

.navbar-default .navbar-nav>li>a {
  color: #777777;
}

.navbar-default .navbar-toggle {
  border-color: #dddddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e6e6e6;
}

.pull-right {
  float: right !important;
}

@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}

body {
  font-size: 15px;
}

body h1 {
  margin-top: 40px;
}

.post-content img {
  margin: 12px 0px 3px 0px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.post-content ul li {
  margin: 10px 0px;
}

ul#markdown-toc li {
  margin: 8px 0px 8px 22px;
  font-size: 90%;
  list-style: square;
}

ul#markdown-toc {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  max-width: 300px;
  color: gray;
}

ul#markdown-toc::before {
  content: "On this page";
  font-weight: 500;
  color: #555;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.side-nav .nav,
.side-nav .nav ul,
.side-nav .nav li {
  list-style: none;
}

.side-nav .nav ul {
  padding: 0;
  margin: 0px;
}

.side-nav .nav {
  padding: 0px;
  margin: 0px;
}

.side-nav .nav>li {
  margin: 1px 0;
}

.side-nav .nav>li li {
  margin: 2px 0;
}

.side-nav .nav a {
  color: #333;
  display: block;
  outline: none;
  text-decoration: none;
}

.side-nav .nav li a {
  font-size: 12px;
  line-height: 18px;
  padding: 2px 10px;
  background-color: #f1f1f1;
}

.side-nav .nav>li>a {
  line-height: 20px;
  padding: 4px 10px;
}

.side-nav ul#mysidebar {
  border-radius: 0px;
  max-width: 100%;
}

.side-nav .nav ul li ul li a {
  padding-left: 40px;
}

.side-nav .nav ul li a {
  background-color: #FAFAFA;
}

.side-nav .nav li a {
  padding-right: 10px;
}

.side-nav .nav ul li a {
  border-top: 1px solid whitesmoke;
  padding-left: 10px;
}

.side-nav ul.nav li>ul li a {
  padding: 2px 5px 2px 8px;
}

.side-nav ul.nav li li>ul {
  border-left: 7px solid white;
}

a.dropdown-toggle {
  margin-left: 10px;
}

a[data-toggle] {
  color: #248EC2;
}

li img {
  clear: both;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin: 30px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#mysidebar .nav ul {
  background-color: #FAFAFA;
}

.githubEditButton {
  margin-bottom: 7px;
}

@media (max-width: 767px) {
  .topfork {
    display: none;
  }
}

@media (max-width: 990px) {
  #mysidebar {
    position: relative;
  }
}

@media (min-width: 1000px) {
  ul#mysidebar {
    width: 225px;
  }
}

@media (max-width: 900px) {
  ul#mysidebar {
    max-width: 100%;
  }
}

ul#mysidebar ul {
  max-width: 100%;
}

.col-md-9 img {
  max-width: 100%;
  max-height: 100%;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

.btn-default {
  margin-bottom: 10px;
}

.topfork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

div.sidebarTitle {
  margin-top: 40px;
  font-weight: normal;
  font-size: 130%;
  color: #F15A22;
  margin-bottom: 10px;
  margin-left: 5px;
}

html {
  font-family: "Benton Sans Lt", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

nav {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  line-height: 1.42857143;
  color: #55565A;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}



h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul {
  margin-bottom: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 481px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 780px) {
  .container {
    width: 780px;
  }
}

@media (min-width: 999px) {
  .container {
    width: 930px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1130px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-3,
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 780px) {
  .col-md-3,
  .col-md-9 {
    float: left;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-3 {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  .navbar-collapse {
    overflow: visible !important;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-group {
  margin-bottom: 15px;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.collapse {
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu>.active>a {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}

@media (min-width: 481px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.side-nav .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.side-nav .nav>li {
  position: relative;
  display: block;
}

.side-nav .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width: 481px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 481px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  color: #f15a22;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 481px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 481px) {
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand>img {
  display: block;
}

@media (min-width: 481px) {
  .navbar>.container .navbar-brand {
    margin-left: -5px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 0;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width: 481px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 481px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 481px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

@media (max-width: 480px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }

  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 481px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: -250px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

@media (min-width: 481px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.container:before,
.container:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.container:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width: 480px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1300px) {
  .hidden-xl {
    display: none !important;
  }
}

body {
  font-family: 'Benton Sans Lt', 'Open Sans', sans-serif;
}

.centered {
  text-align: center;
}

i {
  font-size: inherit !important;
}

h1 {
  font-size: 39px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

#algolia-search {
  padding-top: 40px;
}

#algolia-search input {
  background-image: url(/images/magnifying-glass.png);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 28px;
  background-position-x: 6px;
}

#marketing-nav {
  font-family: 'Libre Franklin', sans-serif;
}

#marketing-nav #searchform {
  display: none;
}

#marketing-nav #top-nav {
  max-height: none;
}

#marketing-nav input {
  margin-top: 9px;
}

#marketing-nav #top-nav li>a {
  clear: both;
  background-color: transparent !important;
  text-transform: capitalize;
  border: none;
}

#marketing-nav a[href^="http://"]:after,
#marketing-nav a[href^="https://"]:after {
  content: none;
}

#marketing-nav hr {
  margin: 0 25% !important;
  width: 50%;
}

#marketing-nav :last-child:after {
  border-bottom: none !important;
}

#marketing-nav .navbar-toggle {
  background: none !important;
}

#marketing-nav .mobile-close {
  font-size: 1.5em !important;
}

#marketing-nav #menu-item-2006 a {
  border-bottom: 2px solid #f36621 !important;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -15%;
}

.pull-right {
  float: right;
}

.fa-github:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#marketing-nav .navbar-default .header-top-menu li a {
  color: #ff5000;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 17px;
  line-height: 25px;
}

#marketing-nav .navbar-nav li.current-menu-parent a {
  border-bottom: 2px solid #f36621;
}

#marketing-nav .navbar-nav li .dropdown-menu {
  background: transparent;
  left: 50%;
  transform: translateX(-50%);
}

#marketing-nav .navbar-brand {
  height: 100%;
  padding: 19px 15px;
}

#marketing-nav .navbar-collapse .navbar-nav {
  padding-top: 40px;
  line-height: 20px;
}

#marketing-nav .navbar-collapse .navbar-nav li {
  position: relative;
}

#marketing-nav .navbar-collapse .navbar-nav li ul.dropdown-menu {
  background-color: rgba(243,102,33,0.8);
  margin-top: -10px;
  right: auto;
}

#marketing-nav .navbar-collapse .navbar-nav li ul.dropdown-menu li {
  text-align: center;
  width: inherit;
}

#marketing-nav .navbar-collapse .navbar-nav li ul.dropdown-menu li a {
  font-size: 10pt;
  color: #fff !important;
  background-color: transparent !important;
  padding: 0;
  margin: 5px 0;
  font-weight: 300;
  width: inherit;
  border-bottom: none;
}

#marketing-nav .navbar-collapse .navbar-nav li a {
  padding: 2px 2px;
  margin: 30px 10px 15px 10px;
  font-size: 16px;
  font-weight: 400;
}

#marketing-nav .navbar-collapse .navbar-nav li:after {
  content: "";
  position: absolute;
  border-bottom: none;
}

#marketing-nav .nav-active {
  border-bottom: 2px solid #f36621;
}

#marketing-nav .header-form {
  background-color: #fff;
  color: #58595b;
  border: none;
  border-radius: 0;
  min-width: 220px;
  box-shadow: none;
  height: 25px;
  line-height: 25px;
}

#marketing-nav .header-form::-webkit-input-placeholder {
  color: #58595b;
  text-transform: uppercase;
  font-size: 8pt;
}

#marketing-nav #input_container {
  position: relative;
  padding: 0;
  margin: 0;
}

#marketing-nav #input_img {
  position: absolute;
  bottom: 5px;
  right: 10px;
  height: 15px;
  z-index: 10;
}

@media (max-width: 1023px) {
  #marketing-nav .navbar-nav .dropdown-menu {
    float: none;
    position: static !important;
    background: transparent !important;
    box-shadow: none;
    border: 0;
  }
}

@media (max-width: 1023px) {
  #marketing-nav .navbar-header {
    float: none;
  }

  #marketing-nav .navbar-toggle {
    display: block;
  }

  #marketing-nav .navbar-collapse.collapse {
    display: none !important;
  }

  #marketing-nav .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  #marketing-nav .navbar-nav>li {
    float: none;
  }
}
