<!-- the leadlander_id gets auto inserted from the config file -->

{% if site.leadlander_id %}

<script type="text/javascript" language="javascript">
  var sf14gv = {{ site.leadlander_id }};
  (function() {
    var sf14g = document.createElement('script'); sf14g.type = 'text/javascript'; sf14g.async = true;
    sf14g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 't.sf14g.com/sf14g.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sf14g, s);
  })();
</script>

{% endif %}
