{% assign navurl = page.url | remove: 'index.html' %}
<ul class="nav">

{% for item in include.nav %}
    {% assign currenturl = item.url | remove: 'index.html' %}
    <li {% if item.folderitems %}class="submenu
        {% if include.activePath[include.level] == item.title | strip %}
            active
        {% endif%}"{% endif %}>
        <a {% if item.url and item.folderitems == null %}href="{{ item.url }}"{% endif %} 
            {% if currenturl == navurl %}class="selected"{% endif %}>
            {% if currenturl == navurl %}
                <b>{{ item.title }}</b>
            {% else %}
                {{ item.title }}
            {% endif %}
        </a>

        {% if item.folderitems %}
            {% assign level = include.level | plus: 1 %}
            {% include nav.html nav=item.folderitems activePath=include.activePath level=level %}
        {% endif %}
    </li>
{% endfor %}
</ul>
