{% assign navurl = page.url | remove: 'index.html' %}
<ul id="mysidebar" class="nav">
{% for item in include.nav %}
    {% assign currenturl = item.url | remove: 'index.html' %}
    <li {% if item.folderitems %}class="submenu"{% endif %}>
        <a href="{% if item.url and item.folderitems == null %}{{ item.url }}{% else %}#{% endif %}" 
            {% if currenturl == navurl %}class="selected"{% endif %}>
            {% if currenturl == navurl %}
                <b>{{ item.title }}</b>
            {% else %}
                {{ item.title }}
            {% endif %}
        </a>

        {% if item.folderitems %}
            {% include nav.html nav=item.folderitems %}
        {% endif %}
    </li>
{% endfor %}
</ul>
