---
layout: compress
---
<!DOCTYPE html>
<head>
    {% include head.html %}
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            $(document).ready(function() {
                $("#collapseAll").click(function(e) {
                    e.preventDefault();
                    $("#mysidebar").navgoco('toggle', false);
                });

                $("#expandAll").click(function(e) {
                    e.preventDefault();
                    $("#mysidebar").navgoco('toggle', true);
                });

                $('[data-toggle="tooltip"]').tooltip();
            });
        });

        var ngc = document.querySelector('#ngcload');
        ngc.addEventListener('load', function() {
            /* Initialize navgoco with default options */
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', /* open */
                save: false, /* leave false or nav highlighting doesn't work right */
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });
        });
    </script>

    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            $(document).ready(function(){
                $('table.datatable').DataTable( {
                    paging: false,
                    stateSave: true
                }
            );
        });
    </script>
    {% endif %}

</head>
<body>

<div id="marketing-nav">
	{% capture topnav %}
        {% include topnav.html %}
    {% endcapture %}
    {{ topnav | replace: 'href="/', 'href="https://portworx.com/' }}
</div>

<!-- Page Content -->
<div class="container">
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3 side-nav">
          {% include sidebar.html %}
        </div>
    <!-- Content Column -->
    <div class="col-md-9">
    	<div id="algolia-search">
    		<input type="text" class="form-control header-form input aa-input" name="s" id="s" placeholder="Search the Portworx documentation" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-labelledby="s" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
    	</div>

        {{content}}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
    </div>

<!--start search-->
<!-- at the end of the BODY -->
<script defer type="text/javascript" src="/js/docsearch.min.js?v={{ 'now' | date: '%s' }}"></script>
<script type="text/javascript"> 
window.addEventListener('DOMContentLoaded', function() {
    docsearch({
        apiKey: '94701e6663ea3899bf379b1609403bf9',
        indexName: 'portworx',
        inputSelector: '#algolia-search>input',
        debug: false /* Set debug to true if you want to inspect the dropdown */
    });
});
</script>
<!--end search-->

</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
